@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.toolbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.toolbar-g{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: rgb(26, 42, 42);
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.toolbar-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.toolbar-el:hover {
    cursor: pointer;
    background-color: rgb(46, 68, 68);
}
.toolbar-el p {
    margin-bottom: 0.1px;
    font-family: 'Noto Sans', sans-serif;
}
.body-split {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-left: 1px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 190px;
    background-color: rgb(26, 42, 42);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    color: white;
}
.sidebar-el, .sidebar-el-selected {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 5px;
}
.sidebar-el:hover {
    cursor: pointer;
    background-color: rgb(46, 68, 68);
    border-radius: 10px;
}
.sidebar-el-selected {
    background-color: rgb(46, 68, 68);
    border-radius: 10px;
}
.main-content {
    background-color: rgb(26, 42, 42);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.VStack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.HStack {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.sidebar p {
    font-family: 'Noto Sans', sans-serif;
}
dialog {
    border:none;
    border-radius: 10px;
    background-color: rgb(26, 42, 42);
    padding: 10px;
    color: white;
}
dialog::backdrop {
    background-color: grey;
    opacity: 0.8;
}
dialog h1{
    font-family: 'Noto Sans', sans-serif;
}
.gallery-opt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: white;
}
.gallery-opt:hover{
    cursor: pointer;
    background-color: rgb(46, 68, 68);
}
#title{
    font-size: 100px;
    text-align: center;
    color: white;
}
#subtitle{
    font-size: 50px;
    text-align: center;
}
.bullet{
    font-size: 30px;
    width: 100%;
}
.gallery-prev{
    width: 100%;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
}
body {
    background-color: rgb(12, 22, 22);
}
input{
    background: none;
    border: none;
    margin:10px;
}
button {
    background-color: rgb(46, 68, 68);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(66, 98, 98);
}
#b-dis{
    background-color: rgb(92, 136, 136);
}
#b-dis:hover{
    cursor: auto;
}
.HStack p{
    color: white;
}